<div class="banner bg-${pcol}-500">
    <p class="text-3xl 
        font-primary font-semibold text-white">{{ BANK_NAME }}</p>
</div>

<div class="menu">
    <ul>
        <li class="inline-block mr-12 py-1"><a class="font-secondary text-white hover:text-gray-400 hover:underline"
                href="./">Accounts</a></li>
        <li class="inline-block mr-12 py-1"><a class="font-secondary text-white hover:text-gray-400 hover:underline"
                href="./transfer">Transfers</a></li>
        <li class="inline-block mr-12 py-1"><a class="font-secondary text-white hover:text-gray-400 hover:underline"
                href="#">Contact</a></li>
        <li class="inline-block py-1"><a class="font-secondary text-white hover:text-gray-400 hover:underline"
                href="../../">Logout</a></li>
    </ul>
</div>