<div class="banner bg-${pcol}-500">
    <p class="text-3xl font-primary font-semibold text-white">{{ BANK_NAME }}</p>
</div>

<div class="menu">
    <ul>
        <li class="inline-block mr-12 py-1"><a class="font-secondary text-white hover:text-gray-400 hover:underline"
                href="#">Personal</a>
        </li>
        <li class="inline-block mr-12 py-1"><a class="font-secondary text-white hover:text-gray-400 hover:underline"
                href="#">Business</a>
        </li>
        <li class="inline-block mr-12 py-1"><a class="font-secondary text-white hover:text-gray-400 hover:underline"
                href="#">Investing</a>
        </li>
        <li class="inline-block mr-12 py-1"><a class="font-secondary text-white hover:text-gray-400 hover:underline"
                href="#">Contact</a>
        </li>
        <li class="inline-block mr-12 py-1"><a class="font-secondary text-white hover:text-gray-400 hover:underline"
                href="#">About</a>
        </li>
    </ul>
</div>