<div class="banner flex bg-${pcol}-500">
    <div class="flex-auto">
        <p class="text-4xl font-primary font-semibold text-white text-center">{{ BANK_NAME }}</p>
    </div>
</div>
<div class="bg-black-gradient px-dynamic">
    <ul class="text-center">
        <li class="inline-block mr-12 py-2"><a class="font-secondary text-white hover:text-gray-400 hover:underline"
                href="#">Personal</a>
        </li>
        <li class="inline-block mr-12 py-2"><a class="font-secondary text-white hover:text-gray-400 hover:underline"
                href="#">Business</a>
        </li>
        <li class="inline-block mr-12 py-2"><a class="font-secondary text-white hover:text-gray-400 hover:underline"
                href="#">Investing</a>
        </li>
        <li class="inline-block mr-12 py-2"><a class="font-secondary text-white hover:text-gray-400 hover:underline"
                href="#">Contact</a>
        </li>
        <li class="inline-block py-2"><a class="font-secondary text-white hover:text-gray-400 hover:underline"
                href="#">About</a>
        </li>
    </ul>
</div>