.table {
  // border-collapse: collapse;

  th,
  td {
    text-align: left;
  }

  tr:nth-child(even) {
    background-color: #f6f6f6;
  }
}

hr {
  width: 100%;
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
  &:after {
    font-family: $primary-font;
    content: "§";
    font-weight: bold;
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.5em;
    background: white;
  }
}
