.bottom-container {
  flex-wrap: wrap;
  margin: 4rem $margin-sides;

  h1,
  h2 {
    text-align: center;
    padding: 1rem 0;
  }
}

.grid-container {
  margin: 2rem $margin-sides;

  > p {
    padding: 1rem 0;
  }

  > h1,
  > h2 {
    padding: 2rem 0 1rem 0;
  }
}

.container-below {
  margin: 4rem $margin-sides;
  @media screen and (max-width: $break-small) {
    width: 25%;
  }
  @media screen and (min-width: $break-small) {
    width: 50%;
  }

  p {
    line-height: 1.7;
    margin-top: 1rem;
  }
}
