{% extends 'account/base.html' %}

{% block title %}{{ BANK_NAME }}{% endblock %}

{% block content %}
{% load static %}

$header

<div class="m-auto">
    $banner

    <div class="mx-dynamic py-24 w-5/12">
        <p class="text-2xl font-bold font-secondary mb-4">We solve the world's problems of tomorrow, today.</p>
        <div class="font-tertiary">
            <p>
                We're passionate about getting your money in our bank and will stop
                at nothing to make it happen in
                today's
                dog-eat-dog-eat-cat-eat-bird-eat-worm world we have to rely on
                powerful allies. As said powerful allies
                to
                many powerful world leaders, we can be the answer to your problems,
                for a small fee.
            </p>
            <br>
            <p>
                Did you know banking can solve a world of problems?
                Here at {{ BANK_NAME }}, we solve the world's problems of tomorrow, today.
                We put you in the community. There's no physical branches so we can keep the saving flowing.
            </p>
        </div>
    </div>

    <div class="bottom-container">
        <hr />

        <p class="text-center p-8 font-bold text-2xl font-secondary">We offer competetive rates and low prices</p>

        <div class="flex justify-between font-tertiary">
            <div class="w-64">
                <p class="text-center w-full">15-Year Fixed Rate</p>
                <p class="text-4xl font-bold text-center">13.37%</p>
                <div class="btn-details">
                    <div>
                        <a class="effect1" href="#">
                            Details
                            <span class="bg"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="w-64">
                <p class="text-center w-full">30-Year Fixed Rate</p>
                <p class="text-4xl font-bold text-center">6.9%</p>
                <div class="btn-details">
                    <div>
                        <a class="effect1" href="#">
                            Details
                            <span class="bg"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="w-64">
                <p class="text-center w-full">Jumbo 30-Year Fixed Rate</p>
                <p class="text-4xl font-bold text-center">9.99%</p>
                <div class="btn-details">
                    <div>
                        <a class="effect1" href="#">
                            Details
                            <span class="bg"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="font-tertiary leading-loose">
        <div class="footer flex justify-between flex-wrap border-t-8 border-${pcol}-500">
            <div class="w-48 p-6 m-8">
                <p class="font-semibold text-lg">GENERAL</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Join</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Feedback</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Careers</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Locations</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Contact Us</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Rates</p>
            </div>
            <div class="w-48 p-6 m-8">
                <p class="font-semibold text-lg">BANKING</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Checking</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Credit Cards</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Hands-Free Banking</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Certificate Accounts</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Visa<sup>&reg;</sup> Gift Cards</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Youth Accounts</p>
            </div>
            <div class="w-48 p-6 m-8">
                <p class="font-semibold text-lg">LOANS</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Auto Loans</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Auto Insurance</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Home Equity Loans</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Home Insurance</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Mortgage Loan</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Personal Loans</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Q-Cash Loans</p>
            </div>
            <div class="w-48 p-6 m-8">
                <p class="font-semibold text-lg">BUSINESS</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Business Checking</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Business Credit Card</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Business Insurance</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Business Loans</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Commercial Real Estate</p>
            </div>
            <div class="w-48 p-6 m-8">
                <p class="font-semibold text-lg">LEGAL STUFF</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Equal Housing Opportunity</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Federally Insured by NCUA</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">NMLS #928284</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Homeowner Assistance</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Terms & Conditions</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline">Accessibility</p>
                <p class="cursor-pointer hover:text-gray-500 hover:underline"><strong>Privacy Notice</strong></p>
            </div>
            <div class="w-48 p-6 m-8">
                <p id="escape">&copy; 2019 &mdash; {{ BANK_NAME }} Incorporated<sup>&reg;</sup> All
                    rights
                    reserved.</p>
            </div>
        </div>
    </footer>
</div>
{% endblock %}