{% extends 'account/base.html' %}
{% block title %}{{ BANK_NAME }} &mdash; Your Account Details{% endblock %}
{% block content %}
{% load static %}

$header

<!-- TODO fix margins with tailwind -->
<div class="grid-container">
    <div class="flex">
        <div class="mr-12">
            <div class="w-full font-secondary">
                <div class="rounded flex bg-${pcol}-500 shadow-xl text-white mb-4">
                    <div class="w-1/2 mx-12 py-4 text-xl">
                        <a href="./transactions">
                            <i class="far fa-clipboard mr-4"></i>
                            All transactions
                        </a>
                    </div>
                    <div class="w-1/2 mx-12 py-4 text-xl">
                        <a href="./transfer">
                            <i class="far fa-money-check-edit-alt mr-4"></i>
                            Make a transfer
                        </a>
                    </div>
                </div>
                <div class="rounded flex bg-${pcol}-500 shadow-xl text-white mb-4">
                    <div class="w-1/2 mx-12 py-4 text-xl">
                        <i class="far fa-user-headset mr-4"></i>
                        Contact support
                    </div>
                    <div class="w-1/2 mx-12 py-4 text-xl">
                        <i class="far fa-info-circle mr-4"></i>
                        Edit or add alerts
                    </div>
                </div>
                <div class="rounded flex bg-${pcol}-500 shadow-xl text-white mb-4">
                    <div class="w-1/2 mx-12 py-4 text-xl">
                        <i class="far fa-phone-laptop mr-4"></i>
                        Go paperless
                    </div>
                    <div class="w-1/2 mx-12 py-4 text-xl">
                        <i class="far fa-id-card mr-4"></i>
                        Edit profile
                    </div>
                </div>
            </div>

            {% for account in accounts %}
            <div class="bg-${pcol}-100 border-t-4 border-${pcol}-500 shadow-xl my-8">
                <div class="flex">
                    <div class="flex-grow px-8 py-4">
                        <div class="flex items-baseline mb-1">
                            <p class="mb-4 font-tertiary text-${pcol}-900 text-xl mr-4">
                                {{ account.account_type }}
                            </p>
                            <p class="text-${pcol}-900 opacity-50 tracking-widest">
                                XXXX{{ account.format_account_number }}
                            </p>
                        </div>
                        <p class="font-bold font-secondary text-4xl text-${pcol}-900 tracking-wider">
                            {{ account.format_amount }}
                        </p>

                    </div>
                    <div class="bg-${pcol}-500 px-8 py-4 text-white font-tertiary">
                        <a href="./transactions">
                            <div class="flex items-baseline">
                                <p class="mb-4 flex-grow mr-8">
                                    View transactions
                                </p>
                                <i class="far fa-chevron-right"></i>
                            </div>
                        </a>
                        <a href="./transfer">
                            <div class="flex items-baseline">
                                <p class="mb-4 flex-grow mr-8">
                                    Make a transfer
                                </p>
                                <i class="far fa-chevron-right"></i>
                            </div>
                        </a>
                        <a href="">
                            <div class="flex items-baseline">
                                <p class="flex-grow mr-8">
                                    More actions
                                </p>
                                <i class="far fa-chevron-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}


            <!-- <p class="font-secondary text-xl my-4 font-semibold">Accounts</p>
            <table class="table table-auto w-full font-tertiary shadow-xl rounded-lg mb-10">
                <thead>
                    <th class="px-6 py-4">Type</th>
                    <th class="px-6 py-4">Account Number</th>
                    <th class="px-6 py-4">Available Balance</th>
                </thead>
                {% for account in accounts %}
                <tr>
                    <td class="px-6 py-4">{{ account.account_type }}</td>
                    <td class="px-6 py-4">****{{ account.format_account_number }}</td>
                    <td class="px-6 py-4">{{ account.format_amount }}</td>
                </tr>
                {% endfor %}
            </table>

            {% if transactions %}
            <p class="font-secondary text-xl my-4 font-semibold">Recent Transactions</p>
            <table class="table table-auto w-full font-tertiary shadow-xl rounded-lg mb-10">
                <thead>
                    <th class="px-6 py-4">Date</th>
                    <th class="px-6 py-4">Account</th>
                    <th class="px-6 py-4">Description</th>
                    <th class="px-6 py-4">Amount</th>
                </thead>
                {% for transaction in transactions %}
                <tr>
                    <td class="px-6 py-4">{{ transaction.format_date }}</td>
                    <td class="px-6 py-4">****{{ transaction.format_account_number }}</td>
                    <td class="px-6 py-4">{{ transaction.description }}</td>
                    <td class="px-6 py-4">{{ transaction.format_amount }}</td>
                </tr>
                {% endfor %}
            </table>

            <p><a href="./transactions" class="link-primary font-tertiary">See full list of transactions</a></p>
            {% endif %} -->

            <div class="flex justify-between">
                <div class="shadow-lg border p-6 my-6 mr-4 rounded">
                    <p class="font-semibold text-lg mb-3 font-secondary">What's your credit score?</p>
                    <div class="font-tertiary">
                        <p class="mb-2">Find out what your credit score is right now. It's seriously really
                            easy.</p>
                        <p><a href="#" class="link-primary">Learn More</a></p>
                    </div>
                </div>
                <div class="shadow-lg border p-6 my-6 mr-4 rounded">
                    <p class="font-semibold text-lg mb-3 font-secondary">Join AARP Rewards</p>
                    <div class="font-tertiary">
                        <p class="mb-2">You could be saving serious coin on everyday purchases.</p>
                        <p><a href="#" class="link-primary">Learn More</a></p>
                    </div>
                </div>
                <div class="shadow-lg border p-6 my-6 rounded">
                    <p class="font-semibold text-lg mb-3 font-secondary">Record Low Interest Rates</p>
                    <div class="font-tertiary">
                        <p class="mb-2">You're already approved. It takes just a moment to open an account.</p>
                        <p><a href="#" class="link-primary">Learn More</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="rounded overflow-hidden shadow-lg mb-12 min-w-md max-w-lg">
                <img class="w-full" src="https://source.unsplash.com/1920x1080/?house" alt="house">

                <div class="px-5 py-6">
                    <p class="font-secondary text-lg font-semibold mb-3">Great Mortgage Rates</p>
                    <div class="font-tertiary">
                        <p>Talk to one of our financial officers about locking in a great rate!</p>
                        <br>
                        <p><a href="#" class="link-primary">Learn More</a></p>
                    </div>
                </div>
            </div>

            <div class="rounded overflow-hidden shadow-lg mb-12 min-w-md max-w-lg">
                <img class="w-full" src="https://source.unsplash.com/1920x1080/?money" alt="house">

                <div class="px-5 py-6">
                    <p class="font-secondary text-lg font-semibold mb-3">Retire Faster Than Ever</p>
                    <div class="font-tertiary">
                        <p>You could be banking serious coin by following these steps.</p>
                        <br>
                        <p><a href="#" class="link-primary">Learn More</a></p>
                    </div>
                </div>
            </div>

            <div class="rounded overflow-hidden shadow-lg mb-12 min-w-md max-w-lg">
                <img class="w-full" src="https://source.unsplash.com/1920x1080/?credit+card" alt="house">

                <div class="px-5 py-6">
                    <p class="font-secondary text-lg font-semibold mb-3">Credit Card Rewards</p>
                    <div class="font-tertiary">
                        <p>You're already approved. It takes just a moment to open an acount.</p>
                        <br>
                        <p><a href="#" class="link-primary">Learn More</a></p>
                    </div>
                </div>
            </div>

            <!-- <button
                class="bg-transparent border border-blue-500 px-4 py-2 rounded text-blue-500 hover:bg-blue-500 shadow font-tertiary hover:text-white">Contact
                Support</button> -->

        </div>
    </div>

</div>

{% endblock %}