<div class="banner flex bg-${pcol}-500">
    <div class="flex-auto mr-6">
        <p class="text-3xl font-primary font-semibold text-white">{{ BANK_NAME }}</p>
    </div>
    <div class="mt-2">
        <ul>
            <li class="inline-block mr-12 py-1"><a class="font-secondary text-white hover:text-gray-400 hover:underline"
                    href="./">Accounts</a></li>
            <li class="inline-block mr-12 py-1"><a class="font-secondary text-white hover:text-gray-400 hover:underline"
                    href="./transfer">Transfers</a></li>
            <li class="inline-block mr-12 py-1"><a class="font-secondary text-white hover:text-gray-400 hover:underline"
                    href="#">Contact</a></li>
            <li class="inline-block py-1"><a class="font-secondary text-white hover:text-gray-400 hover:underline"
                    href="../../">Logout</a></li>
        </ul>
    </div>
</div>
<div class="bg-black-gradient h-4">
</div>