@import url("https://fonts.googleapis.com/css?family=Yeseva+One|Titillium+Web|Source+Sans+Pro&display=swap");

// for icons effect
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

// Invalid SCSS because these are Python template variables, not SCSS variables
$primary-font: "Yeseva One", serif;
$secondary-font: "Titillium Web", sans-serif;
$tertiary-font: "Source Sans Pro", sans-serif;

.font-primary {
    font-family: $primary-font;
}

.font-secondary {
    font-family: $secondary-font;
}

.font-tertiary {
    font-family: $tertiary-font;
}
