<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{{ BANK_NAME }}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'fakebank/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fakebank/fonts/fonts.min.css' %}">
    <link rel="shortcut icon" href="{% static 'fakebank/img/logos/bank-logo.png' %}" type="image/x-icon">
    <!-- TODO vendor tailwindcss -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.1.2/tailwind.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'fakebank/fontawesome/css/all.min.css' %}">
</head>

<body>
    {% block content %}
    {% endblock %}
</body>

</html>